.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
}

[class*="columns-"] {
  padding: 8px;
  color: white; 
  font-family: sans-serif; 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.flex{
  display: block;
  width: 100%;
}

/* ESCRITORIO */
@media screen and (min-width: 1280px) {
  .grid{
    display: grid;
    grid-template-rows: 110px 110px 270px 110px;
    gap: 8px;
  }

  .grid * {
    margin-top: 10px;
    border-radius: 10px;
  }

  .columns-1 {
    grid-column: span 3;
    background:blue;
  }

  .columns-2 {
    grid-column: span 3;
    background:blue;
  }

  .columns-3 {
    grid-column: span 6;
    background:blue;
  }

  .columns-4 {
    grid-column: span 6;
    background:lawngreen;
  }

  .columns-5 {
    grid-column: span 6;
    background:lawngreen;
  }

  .columns-6 {
    grid-column: span 8;
    background:red;
  }

  .columns-7 {
    grid-column: span 4;
    background:deeppink;
  }

  .columns-8{
    grid-column: span 12;
    background:yellow;
    color: black; 
  }
}

/* TABLET */
@media screen and (min-width: 769px) and (max-width:1279px){
  .grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 110px 200px 200px 240px;
    gap: 8px;
  }

  .grid * {
    margin-top: 10px;
    border-radius: 10px;
  }

  .columns-1 {
    grid-column: span 4;
    background:blue;
  }

  .columns-2 {
    grid-column: span 4;
    background:blue;
  }

  .columns-3 {
    grid-column: span 4;
    background:blue;
  }

  .columns-4 {
    grid-column: span 12;
    background:lawngreen;
  }

  .columns-5 {
    grid-column: span 12;
    background:lawngreen;
  }

  .columns-6 {
    grid-column: span 2;
    background:red;

  }

  .columns-7 {
    grid-column: span 7;
    background: deeppink;
    
  }

  .columns-8{
    grid-column: span 3;
    background:yellow;
    color: black; 
  }
}

/* CELULAR */
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; 
    gap: 8px;
  }
  

  [class*="columns-"] {
    grid-column: span 1;
    height: 70px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .columns-1, .columns-2, .columns-3 {
    background:blue;
  }

  .columns-4, .columns-5 {
    background:lawngreen;
  }

  .columns-6 {
    background:red;
  }

  .columns-7 {
    background:deeppink;
  }

  .columns-8{
    background:yellow;
    color: black; 
  }
}